<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cz.mzk.tiledimageview.demonstration">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" -->


    <!-- because of https, see http://stackoverflow.com/questions/9475024/httpresponse-using-android-issue-execute-always-causes-exception -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- for profilinig only -->
    <!--
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    -->
    <application
        android:name=".TiledImageViewDemostrationApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <!-- <intent-filter>
                 <action android:name="android.intent.action.MAIN"/>

                 <category android:name="android.intent.category.LAUNCHER"/>
             </intent-filter>-->
        </activity>
        <activity android:name=".FullscreenSingleImageActivity"/>
        <activity android:name=".ImagePropertiesHttpResponseCodeExamplesActivity"/>
        <activity android:name=".ImagePropertiesRedirectionLoopExamplesActivity"/>
        <activity android:name=".ImagePropertiesInvalidContentExamplesActivity"/>
        <activity android:name=".ImagePropertiesOtherErrorsExamplesActivity"/>
        <activity android:name=".SingleImageWorkingExamplesActivity"/>
        <activity android:name=".kramerius.KrameriusMultiplePageExamplesActivity"/>
        <activity android:name=".kramerius.PageViewerActivity"/>
        <activity android:name=".kramerius.PageMetadataActivity"/>
        <activity android:name=".AboutAppActivity"/>
        <activity android:name=".ssl.SslTestActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            -->
        </activity>

        <activity android:name=".intro.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".intro.IntroTilesActivity"/>
        <activity android:name=".intro.IntroGestureActivity"/>

    </application>

</manifest>